<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>hello</title>
    </head>
    <body>
        <!-- the submit of the form put the query string into the url,i mean -> /?name=yourVariableValue -->
        <form action="/greet" method="get">
            <input autocomplete="off" autofocumes name="name" placeholder="Name" type="text">
            <button type="submit">Greet</button>
        </form>
    </body>
</html>
